.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container.row {
  flex-direction: row;
}

.container.column {
  flex-direction: column;
}

.resizer {
  background-color: lightblue;
}

.resizer.row {
  width: 4px;
  min-width: 4px;
  cursor: col-resize;
}

.resizer.column {
  height: 4px;
  min-height: 4px;
  cursor: row-resize;
}